body {
  margin: 0;
  font-family: Arial;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header, footer {
  background: #333;
  color: white;
  text-align: center;
  width: 100%;
  padding: 10px;
}

.card {
  background: white;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

button:hover {
  background: #007bff;
  color: white;
}
