body {
  font-family: Verdana;
  text-align: center;
  background: #eef;
  margin: 0;
}

.text-section {
  margin: 40px;
  padding: 20px;
}

h1 {
  font-size: clamp(1.5rem, 4vw, 3rem);
}

p {
  font-size: clamp(1rem, 2vw, 1.5rem);
  line-height: 1.5;
}

@media (max-width: 700px) {
  p {
    line-height: 1.8;
    margin: 10px;
  }
}
